.country {
    fill: #ccc;
    stroke: #999;
}

body{
    background-color: #fff;
    margin: 0%;
    padding: 0%;
    height: 100%;
}

.map {
    margin: 0%;
    padding: 0%;
}

.tooltip {
    position: absolute;
}

.tooltip > p{
    fill: red;
    stroke: #999;
}