.country {
    fill: #ccc;
    stroke: #999;
}

body{
    background-color: #fff;
    margin: 0%;
    padding: 0%;
    height: 100%;
}

.map {
    margin: 0%;
    padding: 0%;
}

.tooltip {
    position: absolute;
}

.tooltip > p{
    fill: red;
    stroke: #999;
}

.logo{
    background-image: url("res/imgs/logo.png");
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    pointer-events: none;
}

.logo > img {
    width: 30%;
}